@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

/* *[class*=col] {
	border: 1px solid red;
} 
 *[class*=row] {
    border: 1px solid blue;
} */

body {
    font: 14px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    line-height: 1.428571429;
    color: #bab9b9;
    background: #222530;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    background: none;
}

textarea,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: caret;
}

p {
    margin-bottom: 18px;
    line-height: 24px;
}

h1.navbar-brand_ {
    z-index: 1;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1.navbar-brand_ a {
    display: inline-block;
}
/*Pseudo des critiques*/
.thumbnail h2 {
    color: #333;
}
h2 {
    margin: 0 0 30px 0;
    text-transform: uppercase;
    font: 300 40px/40px 'Open Sans';
    color: #ffffff;
}

h3 {
    width: 100%;
    margin: 0 0 33px 0;
    padding-bottom: 33px;
    border-bottom: 1px solid #ebeced;
    text-transform: uppercase;
    font: 300 40px/40px 'Open Sans';
    color: #333745;
}

h4 {
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font: 300 20px/20px 'Open Sans';
    color: #f2d13e;
}

.extra-wrap {
    overflow: hidden;
}

.container {
    position: relative;
}

.main {
    background: #f2d13e;
}

.global {
    padding: 0;
}
/*FND PAGES*/
.global.indent {
    padding-top: 60px;
    background: #ffffff;
}

/*/////////////////////////////////////////////////// NAV ////////////////////////////////////////////////////////*/
/*On cache menuswipe*/
#mySidenav {
    display: none;               
}
.closebtn {
    display: none;
}

.menuBox {
    z-index: 3;
    float: right;
    position: relative;
    margin-bottom: 0;
    padding: 0;
}

.menuBox.marg {
    margin-bottom: 63px;
}

.openbtn {
    display: none;          
}
nav {
    margin-top: 15px !important;
}

nav.navbar {
    margin: 0;
    padding: 0;
    min-height: 0;
    border: none;
    background: none;
}

nav.navbar li {
    float: left;
    position: relative;
    margin-right: 57px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
}

nav.navbar li:last-child {
    margin-right: 0;
}

nav.navbar li em {
    position: absolute;
    right: -8px;
    bottom: 30px;
    width: 1px;
    height: 9px;
    background: #ccc;
}

nav.navbar li a {
    float: left;
    position: relative;
    padding: 0;
    text-transform: none;
    text-transform: uppercase;
    font: 600 14px 'Open Sans';
    line-height: 22px;
    color: #ffffff;
    background: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

nav.navbar li.active > a {
    color: #f2d13e;
    background: none;
}

nav.navbar li > a:hover {
    color: #f2d13e;
    background: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/*ICON MENU DROP*/

.caret {
    position: relative;
    margin-left: 5px !important;
}

.sous ul {
    z-index: 11;
    position: absolute;
    top: 25px;
    left: 0;
    width: 224px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    list-style: none !important;
    background: #f2d13e;
    transition: max-height 0.5s;
}

.sl {
    margin-left: -44px !important;
}

.sous > li:hover ul {
    max-height: 13em;
}

.sous li {
    list-style-type: none;
}

.sous li ul li {
    padding: 7px 0 7px 0;
}

.sous li ul li a:hover {
    color: #333;
}

/*-----Sous-menu-----*/

nav.navbar .sub-menu > ul {
    display: none;
    z-index: 11;
    position: absolute;
    top: 20px;
    left: 0;
    width: 200px;
    margin: 0;
    padding: 33px 0;
    text-align: center;
    list-style: none !important;
    background: #f2d13e;
}

nav.navbar .sub-menu > ul li {
    display: block;
    float: none;
    width: auto;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    border: none;
    text-align: center;
    background: none;
}

nav.navbar .sub-menu > ul li.tr1 {
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 7px;
    background: url(../img/triangle2.png) center 0 no-repeat;
}

nav.navbar .sub-menu > ul li:last-child {
    border-bottom: none;
}

nav.navbar .sub-menu > ul li a {
    float: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font: 600 14px 'Open Sans';
    color: #ffffff;
    background: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

nav.navbar .sub-menu > ul li a span {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 102px;
    width: 6px;
    height: 7px;
}

nav.navbar .sub-menu > ul li a:hover {
    text-decoration: none;
    color: #e8ae1d !important;
    background: none !important;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

nav.navbar .sub-menu > ul li.sfHover > a {
    text-decoration: none;
    color: #e8ae1d !important;
    background: none !important;
}

/*-----subMenu2-----*/

nav.navbar .sub-menu ul ul {
    display: none;
    z-index: 11;
    position: absolute;
    top: -28px;
    left: 230px;
    width: 217px;
    margin: 0;
    padding: 28px 0;
    text-align: center;
    list-style: none !important;
    background: #333745;
}

nav.navbar .sub-menu ul ul li {
    display: block;
    float: none;
    position: relative;
    width: auto;
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    border: none;
    text-align: center;
    background: none;
}

nav.navbar .sub-menu ul ul li a {
    float: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font: 600 14px 'Open Sans';
    color: #ffffff;
    background: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

nav.navbar .sub-menu ul ul li a:hover {
    color: #3e454c !important;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
/*-----content-----*/

header {
    z-index: 11;
    position: relative;
    padding: 54px 0 50px;
    background: none;
    background: #333745;
}

footer {
    padding: 24px 0 10px 0;
}

footer ul {
    padding: 0;
}

footer li {
    margin-left: 15px;
    list-style-type: none;
}

footer li a {
    text-decoration: none;
    font-size: 1em;
    color: #fff;
}

footer a:hover {
    text-decoration: none;
    color: #85b4de;
}

footer h6 {
    font-size: 1.5em;
}

footer .nav {
    display: block;
    position: relative;
    margin-left: -15px;
}

/*Réseaux sociaux*/

.rs {
    width: 100% !important;
    margin: 3px 0 0 0;
}

.rs li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
    list-style: none;
}

.rs a:hover {
    color: #f2d13e;
}

/*SEARCH FOOTER*/

#inputSearchFooter {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 150px;
    height: 20px;
    padding: 0 10px 0 25px;
    border: none;
    border-radius: 50px !important;
}

#inputSearchFooter:focus {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 250px;
    height: 20px;
    padding: 0 10px 0 25px;
    border: none;
    border-radius: 50px !important;
    transition: all 0.5s;
}

.fa-search {
    display: block !important;
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 20px;
    color: #333;
    cursor: pointer;
}

/*/////////////////////////////////////////////////Log server////////////////////////////////////////////////////*/
.tableLogServer {
    border:none !important;      
}
.tableLogServer td {
    padding: 10px;                    
}
.tableLogServer input {
    padding: 10px;                    
}
.btnLogServer {
     text-align:right;               
}
/*Titre Principal*/
.popularBox {
    padding-top: 20px;
    background: #ffffff;
}

.bienvenue {
    padding-top: 45px;
    padding-bottom: 27px;
    overflow: hidden;
    background: #f2d13e;
}

.opportunitiesBox .title {
    margin-bottom: 9px;
    color: #3e454c;
    font-size: 15px;
}

.testimonialsBox {
    margin-top: 69px;
    margin-bottom: 93px;
}

.aboutBox {
    margin-bottom: 74px;
}

.aboutBox p {
    margin-bottom: 28px;
}

.moreBox {
    margin-bottom: 83px;
    padding-top: 73px;
    text-align: center;
}

.moreBox hr {
    margin: 82px 0 0 0;
    border-color: #e1e3e5;
}

.moreBox p {
    margin-bottom: 16px;
    font: 80px 'Sail';
    letter-spacing: -4px;
    color: #414141;
}

.allBox {
    margin-bottom: 85px;
}

.allBox h2 {
    margin-bottom: 27px;
}

.who-box h3 {
    margin-bottom: 10px;
}

.history-box h3 {
    margin-bottom: 31px;
}

.trainers-box h3 {
    margin-bottom: 17px;
}

.overviewBox h3 {
    margin: 0 0 26px 0;
}

.testimBox {
    margin-top: 40px;
    padding-bottom: 91px;
}

.testimBox h2 {
    margin: 0 0 27px 0;
}

.testimBox img {
    float: left;
    margin-right: 0;
}

.testimBox p {
    margin-bottom: 13px;
    font-style: italic;
}

.testimBox span {
    display: block;
    text-transform: uppercase;
    font: 10px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    color: #b0b0b0;
}

.testimBox em {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: #c5c5c5;
}

.testimBox article div {
    padding-top: 8px;
    overflow: hidden;
}

.testimBox a {
    display: inline-block;
    text-transform: uppercase;
    font: bold 24px/24px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    color: #2d2d2d;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.testimBox a:hover {
    color: #f4cc6c;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.videoBox p {
    margin-bottom: 48px;
    text-transform: uppercase;
    font-size: 10px;
    color: #b0b0b0;
}

.videoBox .title {
    margin: 0;
    text-transform: uppercase;
    font: bold 24px/20px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    color: #2d2d2d;
}

.packagesBox {
    padding: 25px 26px 22px 0;
    border: 1px solid #e8e8e8;
    overflow: hidden;
    background: #fcfcfc url(../img/page3_pic2.jpg) no-repeat;
}

.packagesBox h3 {
    margin: 0 0 17px 0;
    font-size: 20px;
    line-height: 22px;
    color: #2d2d2d;
}

.packagesBox div {
    float: right;
}

.privacyBox {
    padding-bottom: 50px;
}

.error-box {
    padding-bottom: 52px;
}

.errorBox {
    margin-bottom: 40px;
    padding-top: 14px;
}

.errorBox figure {
    margin: 0;
}

.errorBox figure img {
    width: 100%;
}

.errorBox1 {
    margin-top: 2px;
}

.errorBox1 h3 {
    line-height: 35px;
}

.formBox {
    padding-top: 0;
    padding-bottom: 0;
}

.searchBox {
    padding-bottom: 60px;
}

#toTop {
    display: none;
    z-index: 999;
    position: fixed;
    right: 50%;
    bottom: 120px;
    width: 24px;
    height: 24px;
    margin-right: -640px !important;
    opacity: 1;
    background: url(../img/top.png) no-repeat;
}

#toTop:hover {
    opacity: 0.55;
    background: url(../img/top.png) no-repeat;
}

.servBox {
    padding-bottom: 61px;
}

.blogBox h2 {
    margin-bottom: 27px;
}

.logosBox {
    margin-top: 2px;
    margin-bottom: 61px;
}

.logosBox ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.logosBox ul li {
    float: left;
    border-right: 1px solid #dcdddd;
}

.logosBox ul li img {
    width: 100%;
}

.logosBox ul li:last-child {
    border-right: none;
}

.trainerBox a {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.lookatmyoverflowx{
    overflow-x: none;
}

.trainerBox a:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.trainerBox {
    margin-bottom: 15px;
    padding-top: 10px;
}

.trainerBox figure {
    margin: 0;
}

.trainerBox figure img {
    width: 100%;
}

.trainerBox a {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.trainerBox a:hover {
    opacity: 0.8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.unlockBox {
    padding-top: 66px;
    padding-bottom: 11px;
    background: url(../img/pattern.png) repeat;
    -webkit-box-shadow: inset 1px 0 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 1px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.unlockBox.colorBox {
    background: #302f46;
    box-shadow: none;
}

.unlockBox.colorBox h2 {
    color: #dbdaed;
}

.unlockBox.colorBox p {
    color: #dbdaed;
}

.classesBox {
    padding-top: 76px;
    padding-bottom: 98px;
    background: url(../img/pattern3.png) repeat;
}

.hundredBox {
    margin-top: 30px;
}

.hundredBox strong {
    display: block;
    margin-bottom: 0;
    font: bold 60px/47px 'Open Sans';
    color: #ffffff;
}

.hundredBox p {
    font: 600 24px/29px 'Open Sans';
    color: #ffffff;
}

.projectBox {
    padding: 0;
    background: url(../img/pattern2.png) repeat;
}

.projectBox article > .caption {
    position: relative;
    margin: 0;
    margin-bottom: 89px;
    padding: 0;
    overflow: hidden;
    background: #ffffff;
}

.projectBox .lnk {
    position: absolute;
    top: 42px;
    right: -92px;
    width: 77px;
    height: 77px;
    padding-top: 24px;
    padding-right: 22px;
    border-radius: 77px;
    text-align: right;
    background: #ffffff;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.projectBox .lnk:hover {
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.projectBox .box1 {
    float: left;
    position: relative;
    width: 630px;
    padding: 47px 0 0 50px;
    text-align: right;
}

.projectBox .box1 .title1 {
    margin-bottom: 27px;
    font: 48px 'Cabin';
    color: #278f94;
}

.projectBox .box1 .title2 {
    font: 14px/22px 'Open Sans';
    color: #7d7d7d;
}

.projectBox figure {
    float: right;
    margin: 0;
}

/*-----thumbs-----*/

.caption a {
    color: #f2d13e;
    text-transform: uppercase;         
} 

.pad1Box {
    position: relative;
    padding: 62px 0 61px 0;
    background: #f8f8f8;
}

.pad1Box em {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 17px;
    background: url(../img/shadow.png) center top no-repeat;
}

.circleIconBox {
    padding-top: 71px;
    padding-bottom: 61px;
    background: #fafafa;
}

.teamBox {
    margin-bottom: 71px;
}

.galleryBox {
    margin-bottom: 26px;
}

.blogBox {
    margin-bottom: 54px;
}
/*--------Connexion----------------*/
/*Erreur dans le login ou le mot de passe*/
#monErreur {
    margin-bottom:10px;
    color: red;   
}
/*-----btn-----*/

.btns {
    margin: -100px 0 10px 0 !important;
    border: 1px solid transparent !important;
}

.btn-default.btn1 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 13px 17px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    font: 600 14px 'Open Sans';
    letter-spacing: 0;
    color: #ffffff;
    background: #333745;
    box-shadow: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-default.btn1:hover {
    text-decoration: none !important;
    color: #333745;
    background: #f2d13e;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-default.btn2 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 5px 17px;
    border: none;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    font: 13px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 0;
    color: #ffffff;
    background: #819e6f;
    box-shadow: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-default.btn2:hover {
    text-decoration: none !important;
    color: #819e6f;
    background: #fefcef;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn3 {
    display: inline-block;
    position: relative;
    margin: 0;
    margin-top: -1px;
    padding: 0;
    padding: 15px 23px 16px 24px;
    border: none;
    border-radius: 0 0 5px 5px;
    text-decoration: none !important;
    text-shadow: none;
    text-transform: uppercase;
    font: bold 12px 'Cabin';
    letter-spacing: 0;
    color: #ffffff;
    background: #6c9295;
    box-shadow: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn3:hover {
    text-decoration: none !important;
    color: #ffffff;
    background: #ff5d40;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.btn-default.btn4 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 4px 35px;
    border: none;
    text-decoration: none !important;
    text-shadow: none;
    text-transform: uppercase;
    font: 600 24px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    letter-spacing: 0;
    color: #ffffff;
    background: #a2c9c2;
    box-shadow: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.btn-default.btn4:hover {
    text-decoration: none !important;
    color: #6c9295;
    background: #e9e9e9 !important;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*-----A PROPOS LIST-----*/

.list2 {
    margin: 0;
    margin-bottom: 49px;
    padding: 0;
    list-style: none;
}

.list2 li {
    margin-bottom: 9px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.428571429;
}

.list2 li .badge {
    float: left;
    width: 49px;
    height: 49px;
    margin: 0;
    margin-top: 6px;
    margin-right: 21px;
    padding: 0;
    border-radius: 49px;
    text-align: center;
    text-shadow: none;
    font: 300 30px/49px 'Open Sans';
    color: #ffffff;
    background: #f2d13e;
    box-shadow: none;
}

.list2 li a {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    font: 300 15px 'Open Sans';
    color: #333745;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.list2 li a:hover {
    text-decoration: none;
    color: #f2d13e;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*-----------------------------------------------Formualaire de contact--------------------------------------------*/

/*-----Contact map-----*/

.map {
    display: inline-block;
    width: 100%;
    margin: 6px 0 60px 0;
    line-height: 0;
}

.map iframe {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 382px;
    border: none;
    line-height: 0;
}

.info p {
    margin-bottom: 28px;
}

.tel {
    text-transform: uppercase;
    font: 300 15px 'Open Sans';
    color: #333745;
}

#erreurMessage {
    margin-left: 120px;                
}

.contactBox2 {
    margin-bottom: 100px;
}

#contact-form {
    position: relative;
    width: 100%;
    margin-top: 0;
    margin-bottom: 96px;
    overflow: hidden;
}

#contact-form label {
    display: block;
    position: relative;
    margin: 0;
    min-height: 60px;
    font: 14px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    font-weight: normal;
    line-height: 18px;
    color: #bab9b9;
}

#contact-form label span {
    display: block;
    margin-bottom: 2px;
    color: #bab9b9;
}

#contact-form .holder {
    overflow: hidden;
}
/*Inputs frm*/
.form-div-1,
.form-div-2,
.form-div-3 {
    float: left;
    width: 242px;
    margin-right: 20px;
}

.form-div-3 {
    margin-right: 0;
}

#contact-form span {
    display: block;
}

.form-control {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    margin: 0;
    padding: 10px 14px 10px 14px;
    border: 1px solid #cecece;
    border-radius: 0;
    font: 14px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    line-height: 18px;
    outline: none;
    color: #bab9b9;
    background: #ffffff;
    box-shadow: none;
    resize: none;                
}

#contact-form input,
#contact-form textarea {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 41px;
    margin: 0;
    padding: 10px 14px 10px 14px;
    border: 1px solid #cecece;
    border-radius: 0;
    font: 14px 'Arial',"Helvetica Neue",Helvetica,sans-serif;
    line-height: 18px;
    outline: none;
    color: #bab9b9;
    background: #ffffff;
    box-shadow: none;
    resize: none;
}

#contact-form textarea {
    height: 201px;
    margin-bottom: 35px;
}
.mail {
    text-decoration: underline;
    font-size: 14px;
    color: #bab9b9;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.mail:hover {
    text-decoration: underline;
    color: #f2d13e;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.margBot {
    margin-bottom: 0;
}

.padBot {
    padding-bottom: 22px;
}
/*Commentaires site*/
.divComment {
    padding:15px;
}