{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-autoa">
      <?php include 'view/colonneGauche.php'; ?>
    </div>
    <div class="col-lg-6">
      Içi insérer le code de à propos
    </div>    <div class="col-sm">
      <?php include 'view/colonneDroite.php'; ?>
    </div>
  </div>
</div>a
{% endblock %}