{% extends "layout.html.twig" %}

{% block accueil %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 order-sm-1">
      Içi insérer le code de Terry
    </div> 
    <div class="col-lg-3">
      {%include "colonneGauche.html.twig" %}
    </div>  
    <div class="col-lg-3 order-sm-12">
      {%include "colonneDroite.html.twig" %}
    </div>
  </div>
</div>
{% endblock %}
