{% extends 'base.twig' %}
{% block page %}
<form action="" method="get" name="frm" id="frm" enctype="multipart/form-data" class="col s12">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input placeholder="Titre" id="li_title" name="li_title" type="text" class="validate" required value="">
              <label for="li_title">Titre *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input placeholder="Auteur(e)" id="li_auteur" name="li_auteur" type="text" class="validate" required value="">
              <label for="li_auteur">Auteur(e) *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input placeholder="Date ajout" id="li_date_ajout" name="li_date_ajout" type="text" class="datepicker" required value="">

              <label for="li_date_ajout">Date ajout *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input placeholder="ISBN" id="li_isbn" name="li_isbn" type="text" class="validate" required value="">
              <label for="li_isbn">ISBN *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input placeholder="Nombre de pages" id="li_pages" name="li_pages" type="text" class="validate" required value="">
              <label for="li_pages">Nombre de pages *</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input placeholder="Langue" id="langue" name="langue" type="text" class="validate" required value="">
              <label for="langue">Langue *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <textarea placeholder="Description" id="li_desc" name="li_desc" class="materialize-textarea validate" required></textarea>
              <label for="li_desc">Description *</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l8">
              <button class="btn btn-block blue btnFiche" id="envoyer" name="envoyer" type="submit">Créer la fiche livre<i class="material-icons right">send</i></button>
            </div>
          </div>
      </form>
{% endblock %}