{% extends "layout.html.twig" %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      <div class="card">
        <img class="img-fluid card-img-top" src="../img/livres_img/1Dfer5DF5g.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Bonjour tristesse</h4>
          <p class="card-text">Bonjour tristesse est le premier roman de Françoise Sagan, publié le 15 mars 1954 alors qu'elle n'a que 18 ans...</p>
          <a href="./livre" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div><!-- col --> 
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}