{% extends "layout.html.twig" %}

{% block content %}
<div class="global">
<section class="popularBox">
<div class="container">
    <div class="row">
        <article class="col-lg-12 col-md-12 col-sm-12 banner-box">
            <h3>Catalogue de A à Z</h3>
            <div class="row">
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic1.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">The Road</a>
                                <p class="title">by Cormac McCarthy</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic2.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">Interpreter of Maladie</a>
                                <p class="title">by Jhumpa Lahiri</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic3.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">Middlesex: A Novel</a>
                                <p class="title">by Jeffrey Eugenides</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic4.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">Gilead: A Novel</a>
                                <p class="title">by Marilynne Robinson</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic5.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">kavalier &amp; clay</a>
                                <p class="title">by michael chabon</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic6.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">A canticle for</a>
                                <p class="title">by walter m. miller jr.</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic7.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">The Corrections</a>
                                <p class="title">by jonathan franzen</p>
                            </div>
                        </div>
                    </div></div>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./accueil"><img src="../img/livres_img/page1_pic8.jpg" alt="Titre du livre"></a></figure>
                            <div class="caption">
                                <a href="./accueil">tree of smoke: A Novel</a>
                                <p class="title">by denis johnson</p>
                            </div>
                        </div>
                    </div></div>
                </article>
            </div>
        </article>
    </div>
</div>
</section>

</div>
{% endblock %}