
{% block content %}
<div id="aside">
	<h3>Titre 1</h3>
	<p>Içi faire défiler les derniers livres de façon dynamique.</p>
	<a href="#">Plus de détails...</a>
	<h3>Titre 1</h3>
	<p>Içi faire défiler les derniers livres de façon dynamique.</p>
	<a href="#">Plus de détails...</a>
	<h3>Titre 1</h3>
	<p>Içi faire défiler les derniers livres de façon dynamique.</p>
	<a href="#">Plus de détails...</a>
</div>
{% endblock %}