{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 order-sm-1">
      <h3 class="titreContact">Un message pour nous?</h3>
      <form name="frm_contact" div="frm_contact" action="" method="post">
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Nom complet</label>
            <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Votre nom complet">
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Adresse</label>
            <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Votre adresse">
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Ville</label>
            <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Votre ville">
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Code postal</label>
            <input type="text" class="form-control mb-2 mb-sm-0" id="inlineFormInput" placeholder="Votre code postal">
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Téléphone</label>
            <div class="input-group mb-2 mb-sm-0">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Votre téléphone">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">E-mail</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">@</div>
              <input type="email" class="form-control" id="inlineFormInputGroup" placeholder="Votre E-mail">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Commentaire</label>
            <textarea placeholder="Votre commentaire" class="form-control" id="FormControlTextarea1" rows="3"></textarea>
            <button type="button" class="btn btn-secondary">Annuler</button>
            <button type="button" class="btn btn-primary">Envoyer</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6 order-sm-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2647.0329832703155!2d0.08661661488034995!3d48.43670673825956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e20c829005b69d%3A0xbb00e816ee46c064!2sstarTech+Normandy!5e0!3m2!1sfr!2sfr!4v1515765201941" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}