<!--footer-->
<footer>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <h6>Navigation</h6>
        <ul class="nav">
            <li><a href="./accueil">Accueil</a></li>
            <li><a href="./nouveautes">Nouveautés</a></li>
            <li><a href="./about">A propos</a></li>
            <li><a href="./contact">Contact</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h6>Catalogue</h6>
        <ul class="nav">
            <li><a href="./catalogue_a_z">De A à Z</a></li>
            <!-- <li><a href="./catalogue_genre">Par genre</a></li> -->
            <li><a href="./recherche">Recherche avancée</a></li>
            {% if myStatut == 'Admin' %}
                <li><a href="./admin">Administration</a></li>
            {% endif %}
            <li>
                <a href="./mentionlegale">Mention Legale</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <div class="search">
            <form class="frmFooter" name="frmHeader"><i class="fa fa-search" aria-hidden="true"></i><input id="inputSearchFooter" type="search" name="search" placeholder="Recherche rapide"></form>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="rs">
            <li><a href="http://instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x caret" aria-hidden="true"></i></a></li>
            <li><a href="http://viadeo.com/" target="_blank"><i class="fa fa-viadeo fa-2x caret" aria-hidden="true"></i></a></li>
            <li><a href="http://facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x caret" aria-hidden="true"></i></a></li>
            <li><a href="http://twitter.com/" target="_blank"><i class="fa fa-twitter fa-2x caret" aria-hidden="true"></i></a></li>
            <li><a href="http://linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-2x caret" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    </div><!-- row -->
</div>
</footer><!-- FOOTER -->