<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h6>Navigation</h6>
				<ul class="nav">
					<li><a href="./accueil">Accueil</a></li>
					<li><a href="./nouveautes">Nouveautés</a></li>
					<li><a href="./about">A propos</a></li>
					<li><a href="./contact">Contact</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<h6>Catalogue</h6>
				<ul class="nav">
					<li><a href="./catalogue_a_z">De A à Z</a></li>
					<li><a href="./catalogue_genre">Par genre</a></li>
					<li><a href="./recherche">Recherche avancée</a></li>
					<li>
						<a href="./admin">Administrateur</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6">
				<div class="search">
					<form class="frmFooter" name="frmHeader"><i class="fa fa-search" aria-hidden="true"></i><input id="inputSearchFooter" type="search" name="search" placeholder="Recherche rapide"></form>
				</div>
			</div>
		</div>
	</div>
</footer>