{% extends "layout.html.twig" %}

{% block content %}

<div id="containerErreur"></div>
<div id="containerPseudo"></div>

<div id='formulaire'>
<input type="text" id="pseudo" >
<button id='validateur' onclick="recupPseudo();">valider</button>
</div>

<script>
//$('#validateur').bind('click',recupPseudo());
	function recupPseudo(){
		pseudo = document.getElementById('pseudo').value;
		requete = new XMLHttpRequest();
		requete.onreadystatechange = function() {
			if (requete.readyState == 4 && requete.status == 200) {
				var response = requete.responseText;
				if (response == '400') {
					$('#containerErreur').html('Le champ est vide');
					$('#pseudo').css("border", 'solid red');
					$('#pseudo').bind('click', function(){$('#pseudo').css('border', 'none')});
				}else if(response == '404'){
					$('#containerErreur').html('Mauvais pseudo');
					$('#pseudo').css("border", 'solid red');
					$('#pseudo').bind('click', function(){$('#pseudo').css('border', 'none')});
				}else{
					ajoutQuestion(response);
				}
			}
		};
		requete.open('GET', './forgot?pseudo='+pseudo);
		requete.send();
		
	}

	function ajoutQuestion(response){
		$('#formulaire').html('<input type="hidden" id="pseudo">');




	}
</script>
{% endblock %}