<!DOCTYPE html>
<html>
    {%include "head.html.twig" %}
    <body>
        {%include "header.html.twig" %}
        {%include "footer.html.twig" %}
        {%include "script.html.twig" %}
    </body>
</html>