{% extends "layout.html.twig" %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="fiche">
          <div class="img">
            <img class="img-fluid card-img-top" src="../img/livres_img/1Dfer5DF5g.jpg" alt="Code php avec le titre du livre">
          </div>
          <div class="infos">
            <h5>Bonjour tristesse</h5>
            <p>Date ajout: 15 janvier 2018</p>
            <p>Auteur(e): Françoise SAGAN</p>
            <p>ISBN: DFJVND215</p>
            <p>Langue: Fr</p>
            <p>Bonjour tristesse est le premier roman de Françoise Sagan, publié le 15 mars 1954 alors qu'elle n'a que 18 ans. Cette œuvre connait un succès de scandale foudroyant et est récompensée du prix des Critiques la même année. Son titre est tiré du deuxième vers du poème « À peine défigurée » du recueil La Vie immédiate...</p>
          </div>
        </div>
      </div><!-- col --> 
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}