{% extends "layout.html.twig" %}

{% block content %}
<div class="main">

</div>
<div class="global">
<section class="popularBox">
<div class="container">
    <div class="row">
        <article class="col-lg-12 col-md-12 col-sm-12 banner-box">
            <h3>Titre du livre</h3>
            <div class="row">
                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad maxheight1"><div class="box_inner">
                        <div class="thumbnail">
                            <figure><a href="./livre
"><img src="../img
/livres_img/page1_pic1.jpg" alt=""></a></figure>
                            <div class="caption">
                                <a href="#
">Auteur</a>
                                <p class="title">
                                Genre<br>
                                Description</p>
                            </div>
                        </div>
                    </div></div>
                </article>
    </div>
</div>
</section>
</section>
</div>
{% endblock %}
