{% extends "layout.html.twig" %}

{% block content %}
	
	<div id='test'>Page d</div>
	<script>
	loggin = '{{login}}';
	mdp = '{{mdp}}';
	//$('#test').html ='connection';
	//document.getElementById('test').innerHTML = 'inscription';
	if ('{{loggin}}' == 'inscription') {
		testid = document.getElementById('test');
		testid.innerHTML += '\'inscription';
		testid.innerHTML += "<h2>FORMULAIRE D'INSCRIPTION</h2>";
	}else{
		document.getElementById('test').innerHTML += 'e connexion';
	}
	</script>
{% endblock %}
