{% extends "layout.html.twig" %}
{% block content %}
	<div id='test'>
		<form action="./accueil" method="post">
			<input type="text">
			Mot de passe : <input type="password"> <br>
			Confirmation mot de passe : <input type="password"><br>
			<input type="submit">
		</form>
	</div>
	<script>
	login = '{{login}}';
	mdp = '{{mdp}}';
	if ('{{loggin}}' == 'inscription') {
		recupLog();
	}else{
		document.getElementById('test').innerHTML = 'connexion';
		bddLog = encryptMdp(mdp);
		document.getElementById('test').innerHTML += bddLog;

	}
	

	function recupLog(log){
		console.log(log);
		return a;
	}
	function encryptMdp(mdp){
		encryptChannel = '';
		for (var i = 0; i < mdp.length; i++) {
			encryptI = mdp.charAt(i);
			encryptI = encryptI.charCodeAt(0);
			encryptChannel += encryptI + '.';
		}
		console.log(encryptChannel);
		return encryptChannel;
	}

	</script>
{% endblock %}