{% extends "layout.html.twig" %}

{% block content %}
<form action="./log-server" method="post">
<table class="table text-center">
	<tr>
		<td>Login</td>
	</tr>
	<tr>
		<td><input type="text" name="log" required></td>
	</tr>
	<tr>
		<td>Mot de passe</td>
	</tr>
	<tr>
		<td><input type="password" name="mdp" required></td>
	</tr>
	<tr>
		<td><input type="submit"></td>
	</tr>
</table>
</form>
{% endblock %}
