{% extends "layout.html.twig" %}

{% block content %}
<div class="global indent">
    <!--content-->
        <section class="formBox">
            <div class="container">
                <div class="row">
                    <article class="col-lg-12 col-md-12 col-sm-12">
                        <h3>Connectez-vous</h3>
						<div id='monErreur'></div>
                        <form id="contact-form" action="./log-server" method="post">
                            <div class="holder">
                                <div class="form-div-1 clearfix">
                                    <label class="name">
                                        <input placeholder="Nom d'utilisateur" class='text' id='log1' type="text" name="log" >
                                    </label>
                                </div>
                            </div>
                                <div class="form-div-2 clearfix">
                                    <label class="email">
                                        <input placeholder="Mot de passe" class='text' id='mp1' type="password" name="mdp" >
                                    </label>
                                </div>
                            </div>
                            <div class="btns">
								<input class="btn-default btn1" type="submit" name='login0' value='connexion'>
                                <input class="btn-default btn1" type="submit" name='login0' value='mot de passe oublié'>
								<input class="btn-default btn1" type="submit" name='login0' value='inscription'>
								<p></p>
                            </div>  
                        </form>
                    </article>
                </div>
            </div>
        </section>
</div>
<script>
	if ('{{erreur}}' == 'wrongLogin') {
		document.getElementById('monErreur').innerHTML = 'Votre identifiant n\'est pas dans la base de donnée ou votre mot de passe ne correspond guère à votre identifiant!';
		$('.text').css('borderColor', 'red');
	}
	if ('{{erreur}}' == 'noLogin') {
		document.getElementById('monErreur').innerHTML = 'Vous n\'avez pas renseigné votre identifiant!';
		$('#log1').css('borderColor', 'red');
	}
	if ('{{erreur}}' == 'noPassa') {
		document.getElementById('monErreur').innerHTML = 'Vous n\'avez pas renseigner votre mot de passe!';
		$('#mp1').css('borderColor', 'red');
	}
</script>
{% endblock %}