{% extends "layout.html.twig" %}

{% block content %}
<table class="table text-center">
	<form action="./log-server" method="post">
	<tr>
		<td>Login</td>
	</tr>
	<tr>
		<td><input type="text" name="log" id='logA' required></td>
	</tr>
	<tr>
		<td >Mot de passe</td>
	</tr>
	<tr>
		<td><input type="password" name="mdp" id='mdpA' required></td>
	</tr>
	<tr>
		<td><input type="submit" name='test' value='connexion'></td></tr></form><tr>
		<td><form action="./inscription" method="post">
			<input type="submit" name='test' value='inscription' onsubmit="recupDonnee();">
			<input type="hidden" id="logB" name="inscriId">
			<input type="hidden" id="mdpB" name="inscritPass">
		</td>
	</tr>
</table>

<script>
	function recupDonnee(){
		document.getElementById('logB').value = document.getElementById('logA').value;
		document.getElementById('mdpB').value = document.getElementById('mdpA').value;
	}
</script>

{% endblock %}
