{% extends "layout.html.twig" %}
{% block content %}
	<div class="global indent">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-auto">
					<div style="margin-bottom:50px" style="margin-top: 15px" class="alert alert-success" role="alert">
						<h4 class="alert-heading">Le message a bien été envoyé !</h4>
						<p>Nous vous confirmons que l'envoi s'est bien déroulé !</p>
						<hr>
						<p class="mb-0">Merci de votre confiance, nous allons vous répondre dans les meilleurs délais.</p>
						<p></p><button onclick="document.location.href='./accueil'" class="btn btn-primary">Retour à l'accueil</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}