{% extends "layout.html.twig" %}

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="img/firefox.jpg" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Titre du livre</h4>
          <p class="card-text">Description du livre sans doute tronquée à 255 caractères...</p>
          <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
      </div>
    </div><!-- col --> 
    </div><!-- row -->
  </div><!-- container -->
</section>
{% endblock %}
