{% extends "layout.html.twig" %}

{% block content %}
	<p>
	Bienvenue sur votre profil, {{loggin}}! <br>
	<br>
	Vous êtes actuellement un {{myStatut}}. <br> 
	</p>

	<p id="myComments">
		Vous verrez ici votre dernier commentaire! <br>
		cliquez ici pour voir l'intégralité de vos commentaires. 
	</p>

	<p id="myEmprunt">
		Vous verrez ici votre dernier emprunt! <br>
		cliquer ici pour voir l'intégralité de vos emprunts.
	</p>

	

{% endblock %}