{% extends "layout.html.twig" %} 

{% block content %}
<h3>Commentaires à propos du livre choisi</h3>
<div class="container">
    <div class="row">
	{% for comment in lastComs %}
	        <article class="col-lg-6 col-md-12 col-sm-12">
	            <div class="thumb-pad1 maxheight">
	                <div class="box_inner">
	                    <div class="thumbnail">
	                        <h2> {{comment.utilisateur.pseudo}} </h2>
	                        <div class="caption">
	                            <p>{{comment.description}}</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </article>
	{% endfor %}
	{% if loggin  == '' %}
	<article class="col-lg-6 col-md-12 col-sm-12">
	            <div class="thumb-pad1 maxheight">
	                <div class="box_inner">
	                    <div class="thumbnail">
	                        <h2>  </h2>
	                        <div class="caption">
	                            <p>Connectez vous pour ajouter votre propre commentaire!</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </article>
	
	{% else %}
	<article class="col-lg-6 col-md-12 col-sm-12">
            <div class="thumb-pad1 maxheight">
                <div class="box_inner">
                    <div class="thumbnail">
                    	<form action="./envoyerCommentaire">
                    		<input type="hidden" name="id" value="{{idLivre}}">
                        
                        <div class="caption">
                        	<textarea name="" id=""  rows="10" style="width:100%;overflow:scroll"></textarea>
                            <!-- <input type="textarea" cols="250" rows="250" style="width:100%;overflow:scroll" name="com"> -->
                            <input type="submit">
                         </form>
                        </div>
                    </div>
                </div>
            </div>
        </article>
       {% endif %}
	</div>
</div>


{% endblock %}
